```{=html}
<div id="listing-team" class="quarto-listing quarto-listing-container-grid">
    <div class="list grid quarto-listing-cols-4">
        <% for (const item of items) { %>
            <div class="g-col-1">
                <div class="quarto-grid-item card h-100 card-left borderless">
                  <p class="card-img-top">
                    <img src="<%= item.image %>" class="thumbnail-image card-img" style="height: 150px;">
                  </p>
                  <div class="card-body post-contents">
                    <h5 class="no-anchor card-title listing-title">
                      <%= item.name %>
                    </h5>
                    <p><%= item.role %></p>
                  </div>
                </div>
              </div>
        <% } %>
    </div>
</div>
```